* {
  border: none;
  font-family: 'Ubuntu Nerd Font';
  font-size: 14px;
  font-weight: 600;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  margin-top: 1px;
  }

window#waybar {
  background: transparent;
}
#custom-kooha
{

border-radius: 10px;
  background-color: #11111b;
  color: #cdd6f4;
  margin-left: 5px;
 padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
}
#custom-arch
{
background-color: #11111b;
font-size: 14px;
border-radius: 10px;
padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  background: #11111b;
  color: #b4befe;
  margin-left: 5px;
  margin-right: 5px;

}
#workspaces button:hover {
    color: @textcolor1;
    background: @workspacesbackground2;
    border-radius: 15px;
    opacity:0.9;
}

#taskbar {

  border-radius: 10px;
  background-color: #11111b;
  color: #cdd6f4;

  margin-left: 5px;
 /* margin-right: 5px; 
padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;*/

}
#workspaces {
  background-color: #11111b;
 border-radius: 10px;
padding-left: 10px;
  padding-right: 10px;
padding-top: 2px;
  background: #11111b;
  color: #b4befe;
  margin-left: 5px;
  margin-right: 5px;

}


#workspaces button {

  background: #11111b;
  color: #b4befe;
   transition: all 0.2s ease-in-out;
}
#workspaces button.active {
    color: @textcolor1;
    background: @workspacesbackground2;
    border-radius: 15px;
    /*min-width: 40px;*/
    font-size: 14px;
    transition: all 0.2s ease-in-out;
}

#clock{
 border-radius: 10px;
  background-color: #11111b;
  color: #cdd6f4;
padding-left: 10px;
  padding-right: 10px;

  padding-top: 2px;

}


#backlight{
 border-radius: 10px;
  background-color: #11111b;
  color: #cdd6f4;
 margin-left: 5px;
  margin-right: 5px; 
padding-left: 10px;
  padding-right: 10px;

  padding-top: 2px;

}


#pulseaudio
{
 border-radius: 10px;
  background-color: #11111b;
  color: #cdd6f4;
  margin-right: 5px;
   margin-left: 5px; 
padding-left: 10px;
  padding-right: 10px;

  padding-top: 2px;
}
 #network
 {
 border-radius: 10px;
  background-color: #11111b;
  color: #cdd6f4;
 margin-left: 5px;
  margin-right: 5px; 
padding-left: 10px;
  padding-right: 10px;

  padding-top: 2px;
 }

 #battery{
  border-radius: 10px;
  background-color: #11111b;
  color: #cdd6f4;
  margin-left: 5px;
  margin-right: 5px; 
padding-left: 10px;
  padding-right: 10px;


  padding-top: 2px;
}


